@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

:root {
	--bg-app: #E2E2E2;
	--font-color: #363537
}

body {
	margin: 0;
	font-family: 'Open Sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-app);
	color: var(--font-color);
}