ol,
ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}


// #root * {
// 	position: relative;
// }


.main-holder .resume-holder {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.resume-form,
.resume-preview {
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.resume-form {
	width: 48%;
}

.resume-preview {
	width: 30%;
	margin: 0 5% 5%;
	position: relative;
	padding: 2%;
}

.resume-preview:before {
	content: '';
	left: 0;
	top: 0;
	padding-top: 141.45%;
	z-index: 0;
	position: absolute;
	background-color: white;
	box-shadow: 0 8px 6px -6px black;
	width: 100%;
	height: 0;
}

.resume-preview_section {
	display: flex;
	flex-flow: column wrap;
	z-index: 1;
	position: relative;
}

.resume-form,
.resume-form .form-control {
	display: flex;
	flex-flow: column wrap;
}

.resume-form form {
	width: 100%;
	padding: 4px;
	box-sizing: border-box;
}

.resume-form .form-control {
	width: 100%;
	margin-bottom: 24px;
	display: inline-block;
}

.resume-form .form-control label {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 12px;
}

.resume-form .form-control input {
	display: inline-block;
	font-size: 16px;
	color: var(--font-color);
	width: 100%;
	background-color: transparent;
	border: 1px solid #9e9e9e;
	border-radius: 4px;
	outline: none;
	height: 3rem;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	box-sizing: border-box;
	padding: 4px;
}

.elements-panel>ul {
	box-sizing: border-box;
	padding: 4px;
	display: flex;
	flex-flow: row wrap;

}

.elements-panel>ul>li {
	margin-right: 8px;
	cursor: pointer;
}