:root {
	--fontSize: 1rem;
	--baseLine: calc(1.5 * var(--fontSize));
	// --fontSize: 0.8333333333333334vw;
	//  --baseLine: calc(1 * var(--fontSize));
}

.resume-preview_block {
	display: block;
	clear: both;
	// padding: 2vw;
	position: relative;
	//--
	padding-top: 141.45%;
	background-color: white;
	box-shadow: 0 8px 6px -6px black;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.resume-preview_frame {
	display: block;
	clear: both;
	padding: 0 2vw;
	box-sizing: border-box;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
}

// .resume-preview_frame:after {
// 	content: '';
// 	width: 100%;
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	height: 2vw;
// 	background-color: white;
// 	z-index: 3;
// }

.resume-preview_abs {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

// .resume-preview_block:before {
// 	content: '';
// 	left: 0;
// 	top: 0;
// 	padding-top: 141.45%;
// 	z-index: 0;
// 	position: absolute;
// 	background-color: white;
// 	box-shadow: 0 8px 6px -6px black;
// 	width: 100%;
// 	height: 0;
// }

.resume-preview_section .text-element,
.resume-preview_section .text-element p{
	padding: 0;
	border: 0;
	margin: 0;
	line-height: var(--baseLine);
	margin-bottom: var(--baseLine);
	font-size: var(--fontSize);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 0.8333333333333334vw;
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.resume-preview {
	width: 30vw;
	position: relative;
	margin: auto;
}

.preview-wrap {
	// margin: 0 5vw 5vw;
	position: relative;

}

.resume-preview_section {
	margin: 0 auto;
	background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
	background-size: 1px var(--baseLine);
	margin: 0 auto;
}

@page {}

@media all {
	.pagebreak {
		display: none;
	}
}

@media print {
	.pagebreak {
		page-break-before: always;
	}

	html {
		font-size: 22px !important;
	}

	.preview-wrap {
		padding: 50px;
	}
}