.btn {
  background: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
	font-size: 16px;
	color: var(--font-color);
}