$fontSize: 0.75rem;
$baseLine: 1rem;
$fontSizeH1: 2.5rem;
//0.75
$fontSizeH2: 2rem;
$fontSizeH3: 1.5rem;
$fontSizeH4: 1rem;

@mixin vr($fontInput, $mtop: 0, $mbottom: 0) {
	$fontSizeStrip: strip-unit($fontSize);
	$baseLineStrip: strip-unit($baseLine);
	$fontInputStrip: strip-unit($fontInput);
	$multiply: floor($fontInputStrip/$fontSizeStrip);
	$result:$baseLineStrip * $multiply;

	line-height: $result+rem !important;
	font-size: $fontInput;
	
	$marginTop: $baseLine* $mtop;
	$marginBottom: $baseLine* $mbottom;
	margin-top: $marginTop;
	margin-bottom: $marginBottom;

	&:before {
		top: 0;
		height: $marginTop;
		transform: translateY(-100%);
	}

	&:after {
		height: $marginBottom;
		bottom: 0;
		transform: translateY(100%);
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		background-color: greenyellow;
		opacity: .3;
		z-index: 999;
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

$lineHeightH1: calc(#{$baseLine}*3/#{$fontSizeH1});
// .resume-preview{
// 	background-color: orangered;
// }
.resume-preview_block {
	display: block;
	clear: both;
	// padding: 2vw;
	position: relative;
	//--
	padding-top: 141.45%;
	background-color: white;
	box-shadow: 0 8px 6px -6px black;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.resume-preview_frame {
	display: block;
	clear: both;
	padding: 0 2vw;
	box-sizing: border-box;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
}

// .resume-preview_frame:after {
// 	content: '';
// 	width: 100%;
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	height: 2vw;
// 	background-color: white;
// 	z-index: 3;
// }

.resume-preview_abs {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.resume-preview_section .img-element {
	// float: right;
	align-self: flex-end;
	max-width: 10vw;
	max-height: 20vw;
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: 0px 20px 20px 0;
	vertical-align: baseline;
}
.resume-preview_section .element-wrap,
.resume-preview_section span,
.resume-preview_section .text-element p,
.resume-preview_section h4,
.resume-preview_section h3,
.resume-preview_section h2,
.resume-preview_section h1 {
	padding: 0;
	border: 0;
	margin: 0;
}
.resume-preview_section .element-wrap,
.resume-preview_section .element-wrap *{
	display: block;
}

.resume-preview_section span {
	@include vr($fontSize);
}

.resume-preview_section span,
.resume-preview_section .text-element p {
	@include vr($fontSize,1);
}

.resume-preview_section * {
	position: relative;
}

.resume-preview_section h1 {
	@include vr($fontSizeH1, 2);
}
.resume-preview_section h2 {
	@include vr($fontSizeH2, 1);
}
.resume-preview_section h3 {
	@include vr($fontSizeH3, 1);
}
.resume-preview_section h4 {
	@include vr($fontSizeH4, 1);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 0.8333333333333334vw;
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.resume-preview {
	width: 30vw;
	position: relative;
	margin: auto;
}

.preview-wrap {
	// margin: 0 5vw 5vw;
	position: relative;

}

.resume-preview_section {
	margin: 0 auto;
	background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
	background-size: 1px $baseLine;
	margin: 0 auto;
}

@page {}

@media all {
	.pagebreak {
		display: none;
	}
}

@media print {
	.pagebreak {
		page-break-before: always;
	}

	html {
		font-size: 22px !important;
	}

	.preview-wrap {
		padding: 50px;
	}
}