:root {
	--bg-app: #fdfdfd;
	--font-color: #363537;
	--font-form-color: #232221;
}

body {
	margin: 0;
	font-family: 'Open Sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-app);
	color: var(--font-color);
	//  overflow: hidden;
	background: linear-gradient(90deg, #ececec 0%,  #fdfdfd 50%,  #ececec 100%);
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
}
.resume-holder{
	padding-top: 70px;
	height: 100vh;
	overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import '../../components/form/_form.scss';
@import '../../components/dashboard/_dashboard.scss';
@import '../../components/modals/_modal.scss';
@import '../../components/preview/_preview.scss';
@import '../elements/button.scss';
// THEMES
@import '../themes/theme01.scss';
@import '../themes/theme02.scss';